@import "../index.scss";
@include tablet{
    
    footer div.info{
        display:inline-block;
        p{
            display: inline-block;

        }
    }
}


footer{
    bottom:0;
    left:0;
    padding: 20px 10%;
    color:#e2e2e2;
    font-size: 14px;
    background:#394249;
    font-weight: 100;
    .info{
        display: flex;
        height:auto;
        p{
            margin-right:3rem;
        }
        .grey{
            color:grey;
        }
    }
    .contour{
        margin: 10px 0;
        border-bottom: 1px solid grey;
    }
}