@import "../index.scss";
@include tablet{
    
    footer div.info{
        display:inline-block;
        p{
            display: inline-block;

        }
    }
}


footer{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    padding: 10px 5%;
    text-align: right;
    color:#e2e2e2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 14px;
    background:#0f3057;
    font-weight: 100;
    
}