@import "../index.scss";
@include tablet{
    
    footer div.info{
        display:inline-block;
        p{
            display: inline-block;

        }
    }
}


footer{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    margin:0 auto;
    padding: 5px 5%;
    width:50%;
    text-align: center;
    color:#e2e2e2;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-size: 14px;
    background-color:#222d37;
    
}