

header{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    z-index: 20;
    background: #fff;
    display: flex;
    height:70px;
    border-bottom: 1px solid #efefef;
    .headerContent{
        display: flex;
        margin-left: 10%;
        .darkMode{
            position: absolute;
            right:10px;
            top:15px;
        }
        .title{
            
            padding-top: 20px;
            font-size: 20px;
            width: auto;
            display:block;
            margin-right:3rem;
        }    
        .menu{     
            padding-top: 25px;
            font-size: 15px;
            display:flex;
            div{            
                margin-right:2rem;
            }
        }

    }
   
    a{
        text-decoration: none;
        &:visited{
            color:#000;
        }
    }


}