.home-wrap{
    background-color: #263545;
    width:100%;
    height:100%;
    display: table;
    text-align: center;
    p{        
        display: table-cell;
        vertical-align: middle;
    }
}