
.menu-wrap{    
    z-index: 20;
    position: fixed;
    left:0;
    width: 20%;
    max-width: 384px;
    border: none;
    height:100%;
    background-color: #222d3b;
    text-align: center;
    ul{
        margin: 50px auto;
        li{
            width:100%;
            .menuLogo{
                height:200px;
                width: 200px;
                margin: 0 auto 20px;
                background: black;
                border-radius: 50px;
            }
            .menuContour{
                background: #11b772;
                margin:0 auto 20px;
                height:5px;
                border-radius: 50px;
                width: 80%
            }
            form{
               label{
                   input{
                       display:block;
                       background: -internal-limit-dark(#11b772,black) !important;
                       margin: 0 auto 1rem;
                       
                   }
               } 
            }
        }
    }
    
    .menuHideButton{
        text-align: right;
    }
}