.menu-wrap-hide{
    z-index: 20;
    position: fixed;
    left:0;
    width: 80px;
    max-width: 384px;
    padding:10% 0;
    border: none;
    height:100%;
    background-color: #222d3b;
    text-align: center;

    .menuHideButton{
        padding:15px;
        text-align: right;
        position: absolute;
        top:50px;
        right:10px;
        svg{
            width:30px;
            height:30px;            
            color:white;
        }
        &:hover{            
            background:darken( #222d3b, 10%);
        }
        
        &:active{            
            background:darken( #222d3b, 10%);
        }
    }
    ul{
        color: white;
        margin: 0 auto;
        li{
            padding:25px;
            span{
                color:white;
                font-size: 18px;
                margin-bottom: 5px;
                display: none;
            }
            svg{
                color:white;
                width:30px;
                height:30px;
            }
            .menuName{
                display:none;
            }
            .sub-menu-wrap-hide{
                display:none;
                li{
                    display:none;
                    
                }
            }

  
                

            &:hover{
                
                 background-color:darken(#222d3b,10%);
            }
        }
    }
}


.menu-wrap{    
    overflow: scroll;
    z-index: 20;
    position: fixed;
    left:0;
    width: 20%;
    max-width: 300px;
    padding:140px 0;
    border: none;
    height:100%;
    background-color: #323d4b;
    ul{
        margin: 0 auto;
        .nav-text{
            color:white;
        }
        li{
            color: white;
            padding:25px;
            span{
                    vertical-align: middle;
                    display: table-cell;
                    color:white;
                    font-size: 18px;
            }
            svg{
                color:white;
                margin-right:2rem;
                width:30px;
                height:30px;
            }
                
            .parentMenu{
                display:flex;
                .menuName{
                    padding-top:6px;
                    display:block;
                    width:90%;    
                }
                .childState{  
                    width:10%;
                    svg{
                        width:100%;
                    }
                }
            }

            .sub-menu-wrap-hide{
                display:none;
                li{
                    display:none;
                    
                }
            }

            .sub-menu-wrap{
                li{    
                    padding: 13px 13px 20px;
                    transition: 1s;
                    height:10px;
                    span{
                        font-size: 15px;
                    }
                    height:10px;
                    &:hover{
                        transition: 0.3s;
                        background-color: #606fc7;
                    }
                    
                }
            }
            &:hover{
                
                 background-color:darken(#323d4b,10%);
            }
        }
    }
    
    .menuHideButton{
        padding:15px;
        text-align: right;
        position: absolute;
        top:50px;
        right:10px;
        svg{
            width:30px;
            height:30px;
            color:white;
        }
        &:hover{            
            background:darken( #222d3b, 10%);
        }
        
        &:active{            
            background:darken( #222d3b, 10%);
        }
    }


    &::-webkit-scrollbar {
        width: 7px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #606fc7;
    }
    &::-webkit-scrollbar-track {
        background-color: #323d4b;
    }
}

